html,
body {
    scroll-behavior: smooth;
    background: #F0F0F0 url(../images/bg-body.png) center right no-repeat;
}
html{
    overflow-x: hidden;
}

a {
    transition-duration: .3s!important;
}

a:hover {
    text-decoration: none!important;
    transform: translateY(-10px)!important;
    transition-duration: .3s!important;
    color: #fff
}

ul,li{
    padding:0;
    margin:0;
    list-style: none;
}

h1 {
    font-family: 'GothamPro', sans-serif;
    font-size: 26px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.34;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
    padding-top: 30px;
    padding-bottom: 20px;
}

h2{
    font-family: 'GothamPro',sans-serif;
    font-size: 32px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.4;
    letter-spacing: normal;
    text-align: left;
    color: #000000;
    padding-bottom: 20px;
}

h3{
    font-family: 'GothamPro', sans-serif;
    font-size: 36px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.39;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
    /* padding-bottom: 36px; */
}

p{
    font-family: 'GothamPro',sans-serif;
    font-size: 20px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: #000000;
}

li{
    font-family: 'GothamPro',sans-serif;
    font-size: 16px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: #000000;
}

span{
    color: #584CCC;
}

.divisor {
    width: 100px;
    border-bottom: solid 1px #584ccc;
    padding-top: 20px;
    margin: 0 auto;
    margin-bottom: 20px;
}

/* formulario */

.form {
    width: 40%!important;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.16);
    background-color: #ffffff;
    padding: 38px;
    margin-left: 90px;
    height: 100%;
}

.form h3 {
    font-family: 'GothamPro', sans-serif;
    font-size: 18px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: center;
    color: #5AAC45;
    padding-bottom:20px;  
}

input,
select {
    height: 40px;
    border: solid 1px #c7c7c7;
    background-color: #ffffff;
    width: 100%;
    font-family: 'GothamPro', sans-serif;
    font-size: 14px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.14;
    letter-spacing: normal;
    text-align: left;
    color: #5f5f5f;
    margin-bottom: 18px;
    padding-left: 8px;
}

.form button,
.hs-button {
    width: 100%;
    height: 64px;
    border-radius: 32px;
    background-color: #5AAC45;
    font-family: 'GothamPro', sans-serif;
    font-size: 20px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    border: none;
    margin-top: 20px;
    cursor: pointer;
}

.form .hs-error-msg,
.form .hs-main-font-element {
    font-size: 10px;
    color: red;
}

.form label {
    display: none;
}

.form .hs-error-msg {
    display: block;
}

ul.hs-error-msgs {
    margin-top: -24px;
}

.form ul,
.form li {
    list-style: none;
    padding: 0;
}

.buttom {
    display: inline-block;
    margin-top: 40px;
    border-radius: 22px;
    background-color: #5AAC45;
    font-family: 'GothamPro',sans-serif;
    font-size: 18px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 2.5;
    letter-spacing: normal;
    text-align: center;
    color: #fff;
    width: 310px;
    height: 45px;
}

/* sections */

#section01 {
    background: url(../images/BG-topo.png) center right no-repeat;
    padding: 96px 0;
    background-size: cover;
}

#section01 .legal-input {
    display: flex;
    cursor: pointer;
    flex-direction: row;
    flex-wrap: nowrap;
    position: relative;
}

#section01 .legal-input input[type=checkbox] {
    width: 20px;
    height: 20px;
    position: absolute;
    margin-left: 1rem;
    top: 0.2rem;
}

#section01 .legal-input span {
    color: #919191;
    margin-left: 3rem;
    /* text-indent: 1.8rem; */
}

#section01 .logo {
    position: relative;
    padding-top: 4.3rem;
}

#section1 h2 {
    font-size: 34px;
    color: #ffffff;
    padding-top: 30px;
    padding-bottom: 20px;
}

#section01 .col1 span{
    font-family: 'GothamPro', sans-serif;
    font-size: 20px;
    font-weight: 300;
    line-height: 3.1;
    color: #ffffff;
}

#section01 a {
    display: inline-block;
    margin-top: 20px;
    border-radius: 100px;
    background-image: linear-gradient(14deg, #0055a3 3%, #0091d5 103%);
    font-family: 'GothamPro', sans-serif;
    font-size: 18px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 3;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    margin-bottom: 38px;
    width: 390px;
    height: 56px;
}

#section01 p {
    color: #ffffff;
    font-size: 18px;
}

#section01 .logo-pars{
    max-width: 100%;
}

#section01 .logo-sign{
    padding-top: 40px;
}

.line {
    border-right: solid 1px #2383c6;
    border-left: solid 1px #2383c6;
}

#section1 {
    background: url("../images/BG-topo.png") center center no-repeat;
    background-size: cover;
    height: 100vh;
}

#section1>div>div>div.col-sm-6>h2:nth-child(6) {
    padding-top: 0px;
}

#section1 .logo {
    margin-bottom: 38px;
}

#section1 img {
    padding-right: 20px;
}

#section1 p {
    font-family: 'GothamPro', sans-serif;
    font-size: 20px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
    padding-top: 10px;
}

#section1 .buttom {
    display: inline-block;
    margin-top: 25px;
    border-radius: 22px;
    background-color: #5AAC45;
    font-family: 'GothamPro',sans-serif;
    font-size: 18px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 2.5;
    letter-spacing: normal;
    text-align: center;
    color: #fff;
    width: 310px;
    height: 45px;
}


#section02 {
    background: url(../images/bg-section02.png) center left no-repeat;
}

#section03 {
    background: url(../images/bg-section03.png) center right no-repeat;
}

#section04 {
    background: url(../images/bg-section04.png) bottom left no-repeat;
}

#section02 .container, #section03 .container, #section04 .container{
    padding: 200px 0;
}

#section05 {
    background: url(../images/bg-section05.png) center no-repeat;
    background-size: cover;
    padding: 80px 0 40px;
}

#section05 h2{
    text-align: center;
}

#section05 p{
    text-align: center;
}

#section05 .buttom{
    margin: 40px auto;
    display: block;
}

.footer{
    background-color: #fff;
    padding: 70px 0;
}

.footer img{
    margin: 0 auto;
    display: block;
}


.off {
    position: absolute;
    padding: 0!important;
    top: 0px;
    right: -38px;
}

@media screen and (max-width: 1500px) {
    img,h1,h2,h3,h4,h5,h6,p,a,button,form {
        zoom: 0.9;
    }
}

@media screen and (min-width:1229px) and (max-width:1589px) {

}

@media screen and (min-width:922px) and (max-width:1228px) {

}

@media screen and (min-width:767px) and (max-width:1024px){
    body,html{
        overflow-x: hidden;
    }
    .form {
        width: 47%!important;
        padding: 30px;
    }

    #section01 {
        padding: 60px 0;
    }

}

@media screen and (max-width: 1200px) {
    .form {
        margin-left: 40px;
    }
}

@media screen and (max-width: 1100px) {
    #section01 a {
        width: 100%;
    }

    #section1 {
        background: url(../images/BG-topo.png) center center no-repeat;
        background-size: cover;
        padding: 60px 0;
        height: auto;
    }

    #section01 br{
        display: none;
    }

    .form {
        margin-left: 0;
        margin: 10px;
    }


    .off {
        position: absolute;
        padding: 0!important;
        top: -40px;
        right: 20px;
        width: 120px;
    }

    .buttom {
        width: 330px;
    }
}

@media screen and (max-width:768px){

    #section02, #section03, #section04{
        background: transparent;
    }

    #section02 .container, #section03 .container, #section04 .container{
        padding: 0;
    }

    #section02 img, #section03 img, #section04 img{
        width: 100%;
    }

    #section05 p {
        margin: 0 auto;
    }

    .col-lg-6.offset-lg-6, .col-lg-6{
        padding: 50px 20px;
    }

    br{
        display: none;
    }

    p{
        width: 85%;
    }

}

@media screen and (max-width:766px){
    .container {
        width: 92%;
    }
    #section01 {
        background: url(../images/BG-topo.png) center left no-repeat;
        padding: 20px 0 60px;
        background-size: cover;
    }
    #section01 .logo-pars {
        position: relative;
        display: block;
        margin: 50px 0 0;
    }

    .col-lg-6.offset-lg-6, .col-lg-6 {
        padding: 40px 20px 60px;
    }

    .footer{
        padding: 50px 0;
    }

    .footer img{
        width: 80%;
    }

    br{
        display: none;
    }

    h2{
        font-size: 26px;
    }

    p{
        font-size: 18px;
        width: 90%;
    }

    .buttom{
        margin-top: 20px;
    }
  
    .form {
        width: 100%!important;
        height: auto;
        margin: 0;
        padding: 30px;
    }
    .form h3 {
        font-size: 13px;
        padding-bottom: 16px;
    }
    input,
    select {
        padding-left: 8px;
    } 

    .buttom{
        width: 100%;
    }
}


